@section titulo {
    <h2>Login</h2>
}
@section conteudo {
    <form method="post" action="Login\Login">
        Usuário:
        <input type="text" name="usuario" />
        <br/>
        Senha:
        <input type="password" name="senha" />
        <br/>
        <input type="submit" name="autenticar" value="Autenticar" />
    </form>
}