@{
    ViewData["Title"] = "Alunos";
}
<h2>@ViewData["Title"].</h2>
<h3>Index</h3>
<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Alunos" asp-action="Listar">Listar</a></li>
    <li><a asp-area="" asp-controller="Alunos" asp-action="Gravar">Gravar</a></li>
    <li><a asp-area="" asp-controller="Alunos" asp-action="Excluir">Excluir</a></li>
    <li><a asp-area="" asp-controller="Alunos" asp-action="Procurar">Procurar</a></li>
</ul>